# .env.example - generated with dotenvx

#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY="this_will_be_auto_generated"

# .env
# - `GEMINI_API_KEY` is required for the local dev middleware that proxies requests to the Gemini API.
# - `REPOVIEW_DEV_TOKEN` is required for the local dev middleware that proxies requests to the RepoView API.
# - `GITHUB_TOKEN` is required for the local dev middleware that proxies requests to the GitHub API.
# - `EXTERNAL_WRITE_SECRET` is required for the application to to make edits to folders outside of the root "repoview-doc" folder.
# - `ALLOW_EXTERNAL_WRITES`: set this to 'true' or leave blank for no external folder write access.

GEMINI_API_KEY=""
REPOVIEW_DEV_TOKEN=""
GITHUB_TOKEN=""
EXTERNAL_WRITE_SECRET=""
ALLOW_EXTERNAL_WRITES=